@media (max-width: 700px) {
  .container {
    max-width: 100%;
  }
  .container-btn {
    flex-direction: column;
  }
  .container-vet {
    border-radius: 0;
  }

  .label-name,
  .label-animal,
  .label-service,
  .label-date,
  .label-time {
    display: none;
  }

  .dados-client {
    padding: 1rem;
  }

  .inp {
    flex-direction: column; /* Garante alinhamento vertical em telas menores */
  }

  .inp-date .fa-calendar-alt {
    transform: translate(-90%, -50%);
  }
}

@media (max-width: 768px) {
  input,
  select {
    font-size: 16px !important; /* Evita zoom automático do iPhone */
  }
}

@media (min-width: 700px) {
  .dados-client {
    height: 520px;
    padding: 0 2rem;
  }

  .title-dados {
    margin-top: 1rem;
  }

  #appointment-form {
    margin: 1rem;
    gap: 0.8rem;
  }

  .btn-dados {
    padding: 0.7rem;
    font-size: 1.8rem;
  }
  .btn {
    margin-top: 0.5rem;
  }

  .label-name,
  .label-animal,
  .label-service,
  .label-date,
  .label-time {
    font-size: 1.6rem;
  }
}
