/* Responsividade para telas menores que 400px */
@media (max-width: 500px) {

 
  .perfil-vet .title-vet {
    font-size: 3rem;
    text-align: center; /* Alinha o título ao centro */
  }
  
  .perfil-vet .name-vet {
    font-size: 2rem;
    text-align: center; /* Alinha o nome ao centro */
  }

  .container-btn {
   
    flex-direction: row; /* Alinha os botões em coluna */
    justify-content: center; /* Centraliza os botões */
  }

  .profile-picture {
    width: 13rem; /* Mantém a imagem do perfil com a largura adequada */
  }
  
  input, textarea, select {
    font-size: 16px;
  }

  .btn-dados {
    font-size: 1.6rem;
    padding: 1rem 2rem; /* Ajusta o padding para ficar mais proporcional */
  }

  .input-personalizado-tutor,
  .input-personalizado-animal,
  .option-service,
  .input-personalizado-date {
    font-size: 16px; /* Ajusta o tamanho da fonte nos inputs */
  }
  
}

/* Responsividade para telas pequenas (480px e acima) */


/* Responsividade para telas médias (500px e acima) */
@media (min-width: 500px) {
  .perfil-vet .title-vet {
    font-size: 3rem;
    
  }
  
  

  .perfil-vet .title-vet {
    font-size: 3rem;
  }

  .perfil-vet .name-vet {
    font-size: 2rem;
  }

  .profile-picture {
    width: 13rem; /* Ajusta o tamanho da imagem */
  }

  .container-btn {
    flex-direction: column; /* Organiza os botões em coluna */
    gap: 1rem;
    justify-content: center; /* Garante que os botões não fiquem sobrepostos */
  }

  .btn-dados {
    font-size: 1.8rem;
  }
  
  .container-vet {
    border-radius: 3rem;
  }

  .input-personalizado-tutor,
  .input-personalizado-animal,
  .option-service,
  .input-personalizado-date {
    font-size: 1.4rem; /* Ajusta o tamanho da fonte dos inputs */
  }
  .container-vet {
    display: flex;
    width: 100%; /* Garante que a largura seja 100% */
    height: auto;
  }

  .perfil-vet {
    border-radius: 2rem 0 0 2rem; /* Define bordas arredondadas para a seção do perfil */
    min-height: 100%; /* Garante que o perfil tenha altura mínima */
    padding-top: 1rem;
  }

  .dados-client {
    border-radius: 0rem 2rem 2rem 0rem; /* Define bordas arredondadas para a seção dos dados */
    min-height: 100%; /* Garante que a seção dos dados tenha altura mínima */
  }

  .container-btn {
    flex-direction: row; /* Alinha os botões na horizontal */
    gap: 1rem;
  }

  .btn-dados {
    padding: 1rem 1rem; /* Ajusta o padding dos botões */
    font-size: 2rem; /* Aumenta o tamanho da fonte */
  }

  .input-personalizado {
    padding: 1.2rem; /* Ajusta o padding dos inputs */
  }
}

/* Responsividade para telas grandes (acima de 768px) */

@media (max-width: 340px) {
  .container-btn {
    gap: 0.5rem;
    flex-wrap: wrap; /* Permite que os botões se ajustem em várias linhas */
  }
}
